body{
	margin: 0;
	padding: 0;
	/*background-color: #006442;*/
	background-color: #27ae60;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.header {
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: white;
}

.innerheader {
	color: black;
	font-size: 30px;
	line-height: 50px;
	margin-left: 50px;
	margin-right: 50px;
	display: inline;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	cursor: not-allowed;
}

div.match-container {
}

div.debug-container {
	visibility: "";
}

.yellow-at-start {
	background-color: #f1c40f;
}

.red-at-start {
	background-color: #e74c3c;
}

.blue-at-start {
	background-color: #3498db;
}

.dark-at-start {
	background-color: #9b59b6;
}

.robot-status {
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;
}

.subsystem-status {
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;
}

.sensor-status {
	font-size: 20px;
	margin-left: 20px;
	display: inline-block;	
}

div.robot-status > p, div.subsystem-status > p, div.sensor-status > p {
	padding: 5px;
	border-color: black;
	border: 2px solid black;
	border-radius: 10px;
}

#gametime {
	top:290px;
	left:563px;
	text-align:center;
	color: black;
	display:inline;
	font-size: 120px;
	position: absolute;
	border-radius: 15px;
}

#locked {
	width: 30px;
	height: 30px;
	/*padding-top: 10px;*/
	cursor: pointer;
}

#usbvideoelement {
    width: 440px;
    height: 330px;
    left:10px;
    top:60px;
    position: absolute;
}

#myCanvas {
	border:1px solid #000000;
	width: 350px;
	height: 350px;
	left:910px;
	top: 60px;
	position: absolute;
}

#feedgoal {
	width: 440px;
	height: 330px;
	left: 460px;
	top:60px;
	position: absolute;
}

#drivetrain-speed {
	position: absolute;
	font-size: 40px;
	top: 350px;
	left: 25px;
	font-weight: bold;
}
