body{
	margin: 0;
	padding: 0;
	background-color: #3d8e15;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.header {
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: white;
}

.innerheader {
	color: black;
	font-size: 30px;
	line-height: 50px;
	margin-left: 50px;
	margin-right: 50px;
	display: inline;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	cursor: not-allowed;
}

div.match-container {
}

div.debug-container {
	visibility: "";
}

.robot-status {
	font-size: 20px;
	margin-left: 50px;
	position: fixed;
}

#robotstatusrectangle {
	width: 300px;
	height: 35px;
	top: 65px;
	left: 40px;
	border-radius: 15px;
	position: absolute;
	background-color: orange;
}

#networkstatusrectangle {
	width: 320px;
	height: 35px;
	top: 109px;
	left: 40px;
	border-radius: 15px;
	position: absolute;
	background-color: orange;
}

#matchtimerectangle {
	width: 260px;
	height: 35px;
	top: 154px;
	left: 40px;
	border-radius: 15px;
	position: absolute;
	background-color: orange;
}

#gameperiodrectangle {
	width: 275px;
	height: 35px;
	top: 197px;
	left: 40px;
	border-radius: 15px;
	position: absolute;
	background-color: orange;
}

#brownoutstatusrectangle {
	width: 340px;
	height: 35px;
	top: 242px;
	left: 40px;
	border-radius: 15px;
	position: absolute;
	background-color: orange;
}

#batterystatusrectangle {
	width: 325px;
	height: 35px;
	top: 286px;
	left: 40px;
	border-radius: 15px;
	position: absolute;
	background-color: orange;

#drivetrainanimation {
	width: 260px;
	height: 30px;
	background-color: magenta;
	position: absolute;
	top: 467px;
	left: 30px;
	border-radius: 15px;
}

#shooteranimation {
	width: 250px;
	height: 30px;
	background-color: orange;
	position: absolute;
	top: 502px;
	left:30px;
	border-radius: 15px;
}

#grabberanimation {
	width: 252px;
	height: 30px;
	background-color: yellow;
	position: absolute;
	top: 537px;
	left: 30px;
	border-radius: 15px;
}

#accumulatoranimation {
	width: 277px;
	height: 30px;
	background-color: silver;
	position: absolute;
	top: 572px;
	left: 30px;
	border-radius: 15px;
}

#breacheranimation {
	width: 258px;
	height: 30px;
	background-color: pink;
	position: absolute;
	top: 607px;
	left: 30px;
	border-radius: 15px;
}

#drivetrainstate {
	font-size: 20px;
	position: absolute;
	top: 450px;
	left:40px;
}

#shooterstate {
	font-size: 20px;
	position: absolute;
	top: 485px;
	left:40px;
}

#grabberstate {
	font-size: 20px;
	position: absolute;
	top: 520px;
	left:40px;
}

#accumulatorstate {
	font-size: 20px;
	position: absolute;
	top: 555px;
	left:40px;
}

#breacherstate {
	font-size: 20px;
	position: absolute;
	top: 590px;
	left:40px;
}

.a-match-object {
	color: #3d8e15;
	background-color: white;
	text-align: center;
	font-size: 15px;
	position: absolute;
	left: 800px;
	width: 500px;
	height: 250px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.a-debug-object {
	color: cyan;
	background-color: black;
	text-align: center;
	font-size: 15px;
	position: absolute;
	right: 50px;
	bottom: 60px;
	width: 300px;
	height: 270px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

#locked {
	width: 30px;
	height: 30px;
	/*padding-top: 10px;*/
	cursor: pointer;
}